.main-banner {
	position: relative;
	overflow: hidden;
	background: $gray-back;
	//background: url(_i/banner.jpg) center center no-repeat;
	//background-size: cover;
	img {
		position: absolute;
		top: 0;
		left: -50%;
		right: 0;
		bottom: 0;
		max-width: none;
		height: 100%;
	}
	.wrap {
		padding: 2em 0;
		position: relative;
	}
	@include bp(30) {
		img {
			left: 0;
		}
	}
	@include bp(50) {
		height: 0;
		padding-bottom: 40%;
		img {
			max-width: 100%;
			width: 100%;
			left: 0;
			height: auto;
		}
	}
}
.tagline {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	background: rgba(0,0,0,0.6);
	padding: 1em;
	h1 {
		margin: 0;
		color: #fff;
		font-weight: normal;
	}
	p {
		color: #f0f0f0;
	}
	@include bp(50) {
		width: 60%;
		margin: 0;
		text-align: left;
		background: none;
		padding: 0;
	}
}
.special {
	position: relative;
	background: $gray-back;
	padding: 0.5em 1em;
	color: $black;
	text-align: center;
	a {
		@include button($black, #fff);
		padding: 0 1em;
	}
	h3 {
		margin: 0 1em 0 0;
		display: inline-block;
	}
	p {
		display: inline-block;
		margin: 0 1em 0 0;
	}
	@include bp(50) {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 1em 2em;
		background: rgba(0,0,0,0.8);
		color: #fff;
		h3, p {
			display: block;
		}
		p {
			margin: 1em 0;
		}
		a {
			@include button($circle-icon, $black);
			padding: 0.25em 1em;
		}
	}
}