.payment-type {
	margin-bottom: 2em;
	.gfield_label {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}
	input[type="radio"] {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}
	.gfield_radio {
		border-bottom: 1px solid $black;
		padding: 0;
		margin: 0;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	
	li {
		display: block;
		float: left;
		width: 50%;
		text-align: center;
		label {
			margin: 0 !important;
			padding: 0.5em !important;
		}
		input[type="radio"]:checked +label {
			background: #fff;
			border: 1px solid $black;
			border-bottom: 1px solid #fff;
			position: relative;
			z-index: 2;
			margin-bottom: -1px !important;
			cursor: pointer;
		}
	}
}
.gform_wrapper {
	.payment-type {
		ul.gfield_radio {
			padding: 0 8%;
			> li {
				padding: 0 1em !important;
				margin: 0;
				overflow: visible;
			}
		}
	}
}
.service-address {
	background: $gray-back;
	padding: 0.5em 1em;
}
.payment-frequency {
	margin: 2em 0 0;
	.gfield_label {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}
	input[type="radio"] {
		position: absolute;
		opacity: 0;
		visibility: hidden;
	}
	ul.gfield_radio {
		text-align: center;
	}
	li {
		display: inline-block;
	}
	label {
		display: block;
		background: $circle-icon;
		padding: 0.5em 1.25em;
	}
	
}
.gform_wrapper {
	.payment-frequency {
		ul.gfield_radio {
			> li {
				label {
					display: block;
					background: $circle-icon;
					padding: 0.5em 1.25em;
					cursor: pointer;
				}
				input[type="radio"]:checked +label {
					background: $green;
					color: #fff;
				}
			}
		}
	}
}
.gform_button {
	@include button($yellow, #fff);
}
textarea {
	border: 1px solid $gray-back;
}